.contact {	
	color: var(--color-light);	
}

.contact .container {
	background-color: var(--color-secundary);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.social-link {
	margin: 0 10px;
	width: 40px;
	height: 40px;
}
    
.form-email {
	padding: 40px 0;
}
.form-email input {
	border-color: gray;
	border-style: solid;
	border-radius: 5px;
	padding: 10px 20px 10px 25px;
	background-image: url('../images/envelope.svg');
	background-size: 15px 15px;
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: 5px;
	box-sizing: border-box;
	width: 100%;
}
  
.form-email button {
	display: block;
	background: transparent;
	color: white;
	border: 1px solid var(--color-light);
	padding: 10px 0;
	border-radius: 5px;
	width: 100px;
	margin: 10px auto;
}
  
.form-email h3 {
	font-family: var(--font-secundary);
	color: white;
	margin: 0;
	margin-bottom: 10px;
}
.social {
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
}
.icon-facebook, .icon-twitter, .icon-github, .icon-instagram {
	color: white;
	font-size: 40px;
}

.contact .semi-rounded-large {
	overflow: visible;
	margin-bottom: 10px;
}
.contact .semi-rounded-large h3 {
	margin: 0;
}
.contact .semi-rounded-large:before {
	border-color: white;
	left: -60px;
}

@media screen and (min-width: 768px) {
	.contact .container {
		flex-direction: row;
		justify-content: space-between;
		border-left: 25px solid var(--color-secundary);
		margin: 0 20px;
	}
	.form-email {
		margin-left: 60px;
	}
	.form-email button {
		margin: 10px 0 0;
	}
	.social {
		margin-right: 50px;  
	}
	.social-link {
		width: 50px;
		height: 50px;
	}
	.icon-facebook, .icon-twitter, .icon-github, .icon-instagram {		
		font-size: 50px;
	}
	.semi-rectangle {
		position: relative;
	}
	.semi-rectangle::before {
		content: "";
		position: absolute;
		border-style: solid;
		border-color: white;
		border-width: 40px 12.5px;
		top: 0;
		left: -25px;
	}
}

@media screen and (min-width: 1024px) {
	.contact .container {
		margin: 0 auto;
		box-sizing: border-box;
	}
}