.footer {
	color: white;
	background-color: var(--color-dark);	
}

.footer .container {
	display: flex;
	align-items: center;
	justify-content: center;
}
  
.footer img {
	vertical-align: middle;
}
  
.footer a {
	color: white;
}