.header {
	background-color: var(--color-dark);
	color: var(--color-light);		
	height: 50px;
	box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
	overflow: overlay;
} 
.header nav {	
	display: flex;
	align-items: center;	
	justify-content: center;
	height: inherit;
}

.header .logo {
	font-size: 24px;
	color: var(--color-secundary);	
	text-transform: uppercase;
}

.burger-button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: rgba(0, 88, 122, .7);
	line-height: 40px;
	text-align: center;
	position: fixed;
	z-index: 4;
	left: 5px;
	top: 5px;
	color: white;
}
.menu {
	position: fixed;
	left: -100vw;
}
.menu.is-active {
	left: 0;
	flex-direction: column;		
    background: rgba(5, 111, 255, .9);
    z-index: 3;
    top: 0;    
    width: 100vw;
    /*height: 100vh; */
    bottom: 0;
	right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.menu.is-active a {
	display: flex;
	align-items: center;
    height: 40px;
    font-size: 2em;
    text-decoration: underline;
    margin-bottom: .5em;
	padding: 0 10px;
}

@media screen and (min-width: 768px) {
	.header {
		height: 70px;
	}
	.burger-button {
		display: none;
	}
	.header nav {
		justify-content: space-between;
		margin: 0 15px 0 45px;
	}
	.menu {
		position: initial;
		height: inherit;
	}
	.menu a {
		font-size: 1.3em;
	}
	.header ul {
		display: flex;
		height: inherit;
	}

	.header ul li {
		height: inherit;
	}
	
	.header li {
		display: flex;
		align-items: center;
		height: inherit;
		padding: 0 30px;
	}
	.header li a:hover {
		text-decoration: initial;
		color: var(--color-secundary);
		border-color: var(--color-secundary);
	}
}

@media screen and (min-width: 1024px) {
	.header nav {
		margin: 0 auto;
	}
}