.hero {
	background-color: var(--color-dark);
	color: var(--color-light);
	height: 300px;	
}

.hero .container {	
	display: flex;
	align-items: center;
	justify-content: space-between;	
}

.hero h1 {
	font-size: 40px;
	line-height: 1.5;
	letter-spacing: -.2px;
	color: var(--color-light);
	margin: 0;
}

.hero h1 strong {
	color: var(--color-secundary);
}

.hero h2, h3 {
	color: var(--color-secundary);
	text-transform: uppercase;
	font-family: var(--font-secundary);
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 40px;
}

.hero-image{
	object-fit: cover;
}